html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#calculator {
	display: flex;
	flex-flow: column wrap;
	max-width: 400px;
}


.buttons{
	color: red;
	padding: 30px;
} 


