html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#calculator {
  width: 280px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
	flex-flow: column wrap;
  background: black;
}

.display {
  width: 100%;
  padding: 20px;
  background-color: #222;
  color: #fff;
  text-align: right;
  font-size: 2em;
  box-sizing: border-box;
}

.containers {
  display: flex;
}

.buttons {
  flex: 1;
  padding: 20px;
  margin: 2px;
  background-color: #ddd;
  cursor: pointer;
  border: none;
  font-size: 1em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

button#zero {
  flex: 3.8;
}

.button-operation {
  background-color: #ffa500;
  color: white;
}
