html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#calculator {
	display: flex;
	flex-direction: column;
	max-width: 440px;
}

.buttons{
	flex: 1;
	padding: 30px;
	background-color: #ddd;
	cursor: pointer;
}

.containers{
	display: flex;
}

button#zero{
	flex: 7;
}
